<footer class="trec-footer">
<div class="trec-content">
<p class="trec-content-text">Landlords of Texas, LLC • License # 9008008 • (281) 925-7222</p>
<p class="trec-content-text">Terry Evans - Principal Broker #615707</p>
<p class="trec-content-text">
<a class="trec-link trec-content-link" href="https://content.harstatic.com/pdf/TREC_CPN.pdf" rel="noopener" target="_blank">TREC Consumer Protection Notice</a> • 
<a class="trec-content-link" href="https://members.har.com/mhf/terms/dispBrokerInfo.cfm?sitetype=aws&amp;cid=625244" rel="noopener" target="_blank">Information About Brokerage Services</a>
</p>
<p class="text-center text-gray-600 trec-content-text">
<a class="trec-content-link" href="/terms">Terms of Service</a> • 
<a class="trec-content-link" href="/privacy">Privacy Policy</a> • 
<a class="trec-content-link" href="javascript:revokeCookieConsent()">Cookie Preferences</a> • 
<a class="trec-content-link" href="/contact">Contact</a> • 
<a class="trec-content-link" href="/admin">Admin Login</a>
</p>
<p class="text-center text-gray-600 trec-content-text">
<img alt="Equal Housing Opportunity" class="equal-housing-logo trec-content-image" src="/static/images/equal-housing-logo.png"/>Equal Housing Opportunity • All information deemed reliable but not guaranteed.
</p>
</div>
</footer>
