<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>{{if .PageTitle}}{{.PageTitle}} | {{end}}Landlords of Texas</title>
{{if .PageDescription}}<meta content="{{.PageDescription}}" name="description"/>{{end}}
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet"/>
<link href="/static/css/design-tokens.css?v=20251205" rel="stylesheet"/>
<link href="/static/css/scout-utilities.css?v=20251205" rel="stylesheet"/>
<link href="/static/css/scout-layouts.css?v=20251205" rel="stylesheet"/>
<link href="/static/css/scout-components.css?v=20251205" rel="stylesheet"/>
<script src="/static/js/ux-enhancements.js"></script>
</head>
